development:
  adapter: postgresql
  encoding: unicode
  database: corneroffice_development
  pool: 5
  username: <%= `whoami`.chomp %>
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: corneroffice_test
  pool: 5
  username: <%= `whoami`.chomp %>
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: corneroffice_production
  pool: 5
  username: <%= `whoami`.chomp %>
  password:
